page-literacy {
background-color:#1F5F91;
}
.content{
  background-color: #353535;
  color: #ACACAC;
}
.social ion-row{
  background-color: #353535;
  color: #ACACAC;
  text-align: center;
}
.card-header-md{
  padding: 1px;
}
.social button{
  background-color: #FCD736;
  color: #424242;
}
.social button:hover{
color: #ACACAC;
}
